<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420298455356-apt1b1v2f2rff1htg0dbp2eb08mj18sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420298455356-apt1b1v2f2rff1htg0dbp2eb08mj18sj</string>
	<key>API_KEY</key>
	<string>AIzaSyAfN82mhP5fL1B83bLm22QqZu8qoNpBgqw</string>
	<key>GCM_SENDER_ID</key>
	<string>420298455356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Evincedev.delivery</string>
	<key>PROJECT_ID</key>
	<string>myappname-c5e6d</string>
	<key>STORAGE_BUCKET</key>
	<string>myappname-c5e6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420298455356:ios:1e4c6a61efd47866c54639</string>
	<key>DATABASE_URL</key>
	<string>https://myappname-c5e6d.firebaseio.com</string>
</dict>
</plist>